*.iml
.kotlin
.gradle
**/build/
xcuserdata
!src/**/build/
local.properties
.idea
.DS_Store
captures
.externalNativeBuild
.cxx
*.xcodeproj/*
!*.xcodeproj/project.pbxproj
!*.xcodeproj/xcshareddata/
!*.xcodeproj/project.xcworkspace/
!*.xcworkspace/contents.xcworkspacedata
**/xcshareddata/WorkspaceSettings.xcsettings
node_modules/
smartagent/cli/network.log
smartagent/cli/tokens.json
smartagent/cli/context.json
smartagent/cli/user_profile.md
smartagent/arch_settings.md
smartagent/arch_tasks.json
smartagent/architect/*
/smartagent/architect/
smartagent/user_profile.md
smartagent/.indexed
